/**
 * Page layout rules
 */
header h1{
  background: black;
  color: #aaa;
	margin: 0;
  text-align: center;
}

html {
	height: 100%;
}
body {
  background: #aaa;
	height: inherit;
	margin: 0;
  overflow: hidden;
}

.column {
	float:left;
  width: 50%;
}

.columns-wrap {
	overflow: hidden;
}

.content {
  background: #555;
	height: inherit;
	margin: 0 auto;
  padding: 2em 0 0 0;
	width: 60%;
}


/**
 * Table rules
 */
table {
  height: 100%;
  table-layout: fixed;
  width: 100%;
}

th {
  overflow: hidden;
  text-align: left;
}

td + td,
th + th,
th + td {
  text-align: center;
}

.left-table {
  border-right: 1px solid #444;
}

.right-table {
  border-left: 1px solid #444;
}

tr.output td div {
  display: inline-block;
}

col.names {
  width: 11%;
}
col.stats {
  width: 13%;
}

tr.header {
  height: 4.5em;
}

tr.break-point td {
  padding-bottom: 2em;
}


/**
 * Image rules
 */
.str, .int, .dex {
  height: 3em;
  width: 3em;
}

.fire {
  height: 3em;
  wdith: 3em;
}

.cold {
  height: 3em;
  wdith: 3em;
}

.lightning {
  height: 3em;
  wdith: 3em;
}


/**
 * Input rules
 */
td:nth-child(2) > input {
  background: #FFC4C4;
}

td:nth-child(3) > input {
  background: #C4D7FF;
}

td:nth-child(4) > input {
  background: #FAFF94;
}

.right-table td:nth-child(4) > input {
  background: #C4FFC6;
}

input {
  width: 65%;
  text-align: center;
}


/**
 * Instructions rules
 */
.instructions {
  padding-top: 5em;
  text-align: center;
  width: 100%;
}

.instructions p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.3em;
}

.instructions p.break-point {
  padding-bottom: 1.5em;
}


/**
 * Header text rules
 */
p {
  margin: 0;
}

.red-header {
  color: red;
}

.blue-header {
  color: blue;
}

.yellow-header {
  color: yellow;
}

.green-header {
  color: green;
}
