/**
 * custom layout
 */


	/* colors */
	#header,
	#footer {
		background-color: #f1f1f1;
	}

	#main-wrap {
		background-color: #D9D9D9;
	}

	#sidebar {
		background-color: #d2d2d2;
	}

	#content-wrap {
		background-color: #c5c5c5;
	}

	.info {
		background-color: #DDD;
	}
	.info + .info {
		background-color: #e6e6e6
	}


	/* sizes */
	#main-wrap > div {
		min-height: 450px;
	}


	#header,
	#footer {
		min-height: 40px;
	}

	.info {
		min-height: 80px;
	}

	/* layout */

	#main-wrap {
		/* overflow to handle inner floating block */
		overflow: hidden;
	}

	#sidebar {
		float: left;
		width: 30%;
	}

	#content-wrap {
		float: right;
		width: 70%;
	}

	#info-wrap {
		/* overflow to handle inner floating block */
		overflow: hidden;
	}

	.info {
		width: 50%;
		float: left;
	}












/*body {
  width: 60%;
  margin: auto;
}

.myLeftCol {
  width: 25%;
  float:left;
}

.myRightCol {
  width: 25%;
  float:left;
}*/



/*
 .myRow {
  background: yellow;
  display: inline;
  text-align: center;
}*/



/*.myRowName {

}*/


.myRowName, .myText, .myPercentSign{
  float:left;
}

/*.myRowName:after, .myText:after, .myPercentSign:after{
  clear:both;
  content: "";
  display:table;
}

.myRow*/

.myText {
  width: 5%;
}
