header h1{
  background: black;
  color: pink;
	margin: 0;
}

html {
	height: 100%;
}
body {
	margin: 0;
	height: inherit;
  overflow: hidden;
	background: #ccc;
}

.column {
	float:left;
}

.column.right-col.names {
  width:20%;
}

.column.right-col.stats {
  width: 10%;
}

/*.column.right-col {
  width: 12%;
}*/

.columns-wrap {
	overflow: hidden;
}

.content {
	width: 60%;
	height: inherit;
	background: #888;
	margin: 0 auto;
}









.first {
  margin-top: 60%;
}

#strength li input, #fire li input {
  /*background: #E85858;*/
  background: #FFC4C4;
}
#intelligence li input, #cold li input {
  /*background: #3E80FA;*/
  background: #C4D7FF;
}
#dexterity li input {
  /*background: #3EFA3E;*/
  background: #C4FFC6;
}
#lightning li input {
  background: #FAFF94;
}

li {
  list-style: none;
}

li .myText {
  float: none;
}



.str, .int, .dex {
  height: 50%;
  width: 50%;
}



.head {
  float: left;
}

.sprite {
  float: left;
}

.myRow {
  padding: 0;
}

.myRowName {
  min-height: 1px;
	width: 30%;
	/*padding-right: 25%;*/
}

.myHeader {
  padding-bottom: 2%;
}



.myPercentSign {
    margin: 0 3% 0 0;
}

input {
  width: 90%;
  height: 20px;
  margin: 0 0 2% 0;
}

.rowNames li {
  margin-bottom: 3%;
}

.fire {
  width: 50%;
  height: 50%;
}

.fire-header {
  color: red;
  margin-left: 1%;
}

.cold {
  width: 70%;
  height: 70%;
}

.cold-header {
  color: blue;
  margin-left: 12%;
}

.lightning {
  width: 40%;
  height: 40%;
}

.lightning-header {
  color: yellow;
  margin-left: 8%;
  /*font-size: 80%;*/
}
